{% extends 'base.html' %}

{% block content %}
  {% if form.instance.pk %}
    <h2>Edit exercise: {{ workout.name }} ({{ workout.date }})</h2>
  {% else %}
    <h2>Add exercise to: {{ workout.name }} ({{ workout.date }})</h2>
  {% endif %}

  <form class="form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="actions">
      <button class="btn btn-primary" type="submit">Save</button>
      <a class="btn" href="{% url 'workout_detail' workout.pk %}">Back</a>
    </div>
  </form>
{% endblock %}
